body {
    color: white;
    background: hwb(266 4% 23%);
    margin: 4px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px hwb(263 0% 49%);
    padding: 20px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.chamada {
    background: #7022c4;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid hsl(0, 0%, 100%);
}

.categoria h2 {
    color: #ffffff;
}
